$basic-font-family: "Golos Text", "arial", sans-serif;
$second-font-family: "Merriweather", "arial", sans-serif;
$third-font-family: "Montserrat", "arial", sans-serif;

$primary-text-color: #313131;
$second-text-color: #ffffff;
$third-text-color: #1f1f1f;

$primary-back-color: #1f1f1f;
$second-back-color: #ffffff;
$third-back-color: #fbce51;
$running-string-back: #f54932;
