$basic-font-family: "Golos Text", "arial", sans-serif;
$second-font-family: "Merriweather", "arial", sans-serif;
$third-font-family: "Montserrat", "arial", sans-serif;

$primary-text-color: #313131;
$second-text-color: #ffffff;
$third-text-color: #1f1f1f;
$fourth-text-color:#f54932;
$fifth-text-color:#3057a2;

$primary-back-color: #1f1f1f;
$second-back-color: #ffffff;
$third-back-color: #fbce51;
$fourth-back-color: #d6d6d6;
$fifth-text-color: #313131;
$running-string-back: #f54932;
$button-border-color: #3057a2;
